{{> head }}

    {{> navbar }}
    <div class="container">
        <br>
    <div class="row">
        <div class="col-8">
            <h1>{{ nombre }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nostrum est, veniam fugiat repellat enim natus officia harum aut iure minus nesciunt, sequi non hic! Quam laboriosam magnam dolor neque!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/demo.png" class="img-thumbnail">
        </div>
    </div>
    </div>

{{> footer}}